.App { 
  /* text-align: center;
  max-width: 50%;
  margin: auto; */
  background-color: rgb(242, 242, 242, 1);
  min-height: 100vh;
  padding-top: 50px;
  /* -webkit-filter: blur(3px); */
}

* {
  font-family: 'Varela Round', sans-serif;
}
html {
  min-height: 100vh;
}

body {
   margin:0;
   min-height: 100vh;
   
  }


#root {
  top: 0;
  bottom: 0;
  min-height: 100hv;
}

.name-main {
  padding-top: 50px;
  min-height: 200px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 50%;
}

.name-main Form Form.Group Form.Control {
  max-width: 40%;
}

.board-name {
  display: grid;
  grid-template-columns: 45% 20% 25% 10%;
  grid-gap: 10px;
  width: 50%;
  margin: auto;
}

/* .board-name > h3, h4 {
  text-align: left;
  margin: auto 0;
} */


.board-main {
  /* padding-top: 50px; */
  min-height: 500px;
  min-width: 800px;
  text-align: center;
  padding-bottom: 100px;
}

.time {
  font-size: 1rem;
  /* margin-bottom: 1rem; */
  color: rgb(14, 13, 13);
  font-weight: bold;
}

.container {
  /* max-width: 50px; */
  margin: auto;
}

.Card{
  flex: 1
}

.Card:hover{
  cursor: pointer;
}

.Card img{
  width: 100px;
  height: 100px;
}

.Board-4-6 {
  /* height: 450px;
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap */
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-gap: 10px;
  height: 450px;
  width: 650px;
  margin: 0 auto;
}

.Board-6-6 {
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-gap: 10px;
  height: 650px;
  width: 650px;
  margin: 0 auto;
}

.Board-6-8 {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-gap: 10px;
  height: 650px;
  width: 850px;
  margin: 0 auto;
}

.ranking {
  display: none;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 40%;
  height: 50%;
  z-index: 1;
  margin-top: 10%;
}

.rank-div {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

.rank-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  width: 50%;
  margin: auto;
  bottom: 10px;
}

.time-2 {
  font-weight: bold;
  color: #af1212;
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 800; 
  line-height: 36px; 
  margin: 0 0 24px; 
  text-align: center;
}

.button-label1 {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}

.button-label2 {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-right: 48px;
}

Button {
  min-width: 70px;
}

